body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.allocation-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.allocation-form label {
    font-weight: bold;
}

.allocation-form select,
.allocation-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.allocation-form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.allocation-form button:hover {
    background-color: #0056b3;
}

.room-status {
    margin-top: 20px;
    text-align: center;
}

.room-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 10px;
    transition: filter 0.3s ease;
}

.room {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.available {
    background-color: #4CAF50;
    color: white;
}

.booked {
    background-color: #FF5733;
    color: white;
}

.maintenance {
    background-color: #FFC107;
    color: black;
}

.blurred {
    /* filter: blur(50px); */
    /* display: none; */
    opacity: 0.07;
}
.footer{
    display: none;
}
